body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f3f3f4;
}
div>li {
  position: relative;
  left: 40px;
  display: list-item;
  text-align: -webkit-match-parent;
  text-indent: 20px;
  line-height: 25px;
}
.chartStyle {
  width : 100%;
  height  : 600px;
  border-radius: 10px;
  padding: 8px;
  background-color: #FFFFFF;
}

.left-div {
  width: 100%;
  height : 720px;
}

.left-text {
  position: relative;
  top: 320px
}

.bottom-div {
  margin-top:50px;
  height : 70px;
}

.bottom-text {
  position: relative;
  top: 25px;
  left: 500px
}

.theme-text {
  font-size: 13px;
  color: #CCCCCC;
  font-weight: 300;
}

.top-buffer {
  margin-top:150px;
}
.type-buffer {
  margin-top: 100px;
}
.pointer {
  cursor:pointer
}

.darkStyle {
  background: #3f3f4f;
  color: #ffffff;
}

.chalkStyle {
    background: #282828 url('./images/bg.jpg');
    color: #fff;
}
.navbar-fixed-top {
  border: 0;
}
.dataMmenu {
  height: 100%;
  text-align: center;
  color: #72acd9;
}
.menuItem {
  padding: 5.5px 0;
  border-style: solid none solid none;
  border-width: 1px;
  border-color: rgba(0,0,0,.05);
}
