/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f3f3f4;
}
li {
  position: relative;
  left: 40px;
  display: list-item;
  text-align: -webkit-match-parent;
  text-indent: 20px;
  line-height: 25px;
}
/*
 * Global add-ons
 */

.chartStyle {
  width : 100%;
  height  : 650px;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFFFFF;
}

.left-div {
  width: 70px;
  height : 720px;
}

.left-text {
  position: relative;
  top: 320px
}

.bottom-div {
  margin-top:30px;
  height : 70px;
}

.bottom-text {
  position: relative;
  top: 25px;
  left: 500px
}

.theme-text {
  font-size: 13px;
  color: #CCCCCC;
  font-weight: 300;
}

.top-buffer {
  margin-top:120px;
}

.pointer {
  cursor:pointer
}

.darkStyle {
  background: #3f3f4f;
  color: #ffffff;
}

.chalkStyle {
    background: #282828 url('./images/bg.jpg');
    color: #fff;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
